# Spotify API
SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8080/callback

# Soulseek
SLSKD_PATH=
SLSKD_URL=http://127.0.0.1:5030
SLSKD_API_KEY=

# Optional output directory
SLSKD_DOWNLOADS_DIR=
